@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
   
}
::-webkit-scrollbar{
  display: none;
}
body{
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
/*start of menubar*/
.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
}

.grad-bar {
  width: 100%;
  height: 5px;
  /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
  background-size: 400% 400%;
  	-webkit-animation: gradbar 15s ease infinite;
	-moz-animation: gradbar 15s ease infinite;
	animation: gradbar 15s ease infinite;
}

/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.navbar img {
  height: 16px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  justify-self: end;
  
}

.nav-item a {
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: #3498db;
}
.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover{
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* Media Queries */

  /* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) { 
  .features {
    flex-direction: column;
    padding: 50px;
  }
  
  /* MOBILE HEADINGS */
  
  h1 {
    font-size: 1.9rem;
  }
  
  h2 {
    font-size: 1rem;
  }
  
  p {
    font-size: 0.8rem;
  }
  
  /* MOBILE NAVIGATION */
     
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }
  
  .navbar li {
    padding: 15px;
  }
  
  .navbar li:first-child {
    margin-top: 50px;
  }
  
  .navbar li a {
    font-size: 1rem;
  }
   
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }
  
  .mobile-nav {
  transform: translate(0%)!important;
}
  
  /* SECTIONS */
  
  .headline {
    height: 20vh;
  }
    
  .feature-container p {
    margin-bottom: 25px;
  }
  
  .feature-container {
    margin-top: 20px;
  }
  
  .feature-container:nth-child(2) {
    order: -1;
  }
  
  /* SEARCH DISABLED ON MOBILE */
  
  #search-icon {
    display: none;
  }
  
  .search-input {
  display: none;
 }
  
}
/*end of menubar*/
.back-img img{
  width: 100vw;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; 

}

button{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 12px 36px;
  margin: 10px 0;
  border: 0;
  outline: 0;
  color: white;
  background-color: #fbad18;
  text-transform: uppercase;
  border-radius: 40px;
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  
}
.sign-up{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-top: -9vw;
  margin-left: 60vw;
  font-size: 16px;
}
button a{

  list-style: none;
  color: black;
  text-decoration: none;
}

button .ripple{
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.6s linear;
}

@keyframes ripple{
  to{
    transform: scale(2.5);
    opacity: 0;
  }
}
 

.mobile-back img{
  display: none;
}
.down-now{
  display: none;
}
@media only screen and (max-width: 600px) {
  .back-img{
    display: none;
  }
  .mobile-img img{
    /* padding-top: 70px; */
    display: block;
    width: 100vw;
  }
  .mobile-back .down-now{
    display: block;
    margin-top: -16vw;
    margin-left: 28vw;
    position: absolute;
    background-color: #fbad18;
    color: #282829;
    width: 45vw;
    height: 10vw;
    font-weight: 900;
    font-size: 18px;

  }
  .download-app{
    display: none;
  }
}


/*start of marquee*/
.strip img{
  margin-top: 4.8vw;
  width: 100vw;
  /* margin-top: 0px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; 
 

}
  /*end of marquee*/  




  /*start of steps*/
.play-heading h1{
font-size: 20px;
font-family: 'Roboto', sans-serif;
text-align: center;
margin-top: 2vw;
}
.play-heading span{
  color: #fbad18;
 
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.play-container {
  width: 90%;

  margin: 50px auto;
}


.play-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
 
}

.play-card {
  width: 21vw;
  height: 20vh;
  background:linear-gradient(to right, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 50%, rgba(238,238,238,1) 100%);
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
 border-radius: 1vw;
}

.play-card-header {
  font-family: 'Roboto', sans-serif;
  margin-top: -1.5vw;
  margin-left: 1vw;
  text-align: center;
 
  width: 40px;height: 40px;
  border-radius: 5vw;
  background: linear-gradient(to right, rgba(23,199,73,1) 0%, rgba(16,158,56,1) 100%);
  color: #fff;
}
.play-card-header span{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 40px;
  
}
.how1 {
  margin-top: -8vw;
  position: absolute;
  width: 12vw;
  margin-left: 5vw;
}

.play-card-body {
  margin-top: 5vw;
  margin-left: 2vw;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
 
}

.play-card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.play-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .play-card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .play-card-container {
    width: 100%;
  }

  

  .play-card {
    width: 80%;
  }
}

  /*end of steps*/
  /*start of review*/
  #review{
    background-color:whitesmoke;
    margin-top: -4vw;
  }
 .review-heading h1{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
   padding-top: 2vw;
  }
  .review-heading span{
    color: #fbad18;
   
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  
 }
 .img-1{
   margin-left: 6vw;
 }
 .review-column {
	float: left;
	width: 25vw;
	padding: 2vw;
}

.review-row::after {
	content: "";
	display: table;
	clear: both;
}


  /*end of review*/
  

  /*start of faq*/
  #faq{
    /* background-color: whitesmoke; */
  }
  #faq h3 {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #282829;
    font-family: 'Roboto', sans-serif;
}

.accordions {
    width: 50%;
    margin: 10px auto;
}

.accordions h4 {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.accordion-item {
    background-color: #282829;
    margin-bottom: 20px;
    border: 1px solid #282829;
    border-radius: 5px;
    color: #ffffff;
}

.accordion-item .accordion-title {
    cursor: pointer;
    padding: 20px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    transition: transform 0.4s ease-in-out;
}

.accordion-item .accordion-title.active-title {
    background-color: #282829;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.accordion-item .accordion-title h5{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.accordion-item .accordion-title i.fa-chevron-down {
    transform: rotate(0);
    transition: 0.4s;
}

.accordion-item .accordion-title i.fa-chevron-down.chevron-top {
    transform: rotate(-180deg);
    color: #fbad18;
}

.accordion-item .accordion-content {
    display: none;
    line-height: 1.7;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    color: #282829;
}

.accordion-item .accordion-content.active {
    display: block;
}

.accordion-item .accordion-content p {
    margin: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
  /*end of faq*/

  /*start of footer*/
#footer{
  background-color: #282829;
}

.logo-image img{
  width: 20vw;
  margin-left: 5vw;
  margin-top: 5vw;
}
.blitz-info p{
  margin-top: 2vw;
  margin-left: 5vw;
  margin-right: 75vw;
  color: white;
  font-family: 'Roboto', sans-serif;
  line-height: 2vw;
  font-size: 14px;
  /* font-weight: 600; */
}
.media{
  margin-left: 5vw;
}

.media i{
  margin-top: 2vw;


  padding-right: 1vw;
  color: white;
}
.data1{
  margin-left: 40vw;
  margin-top: -17vw;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.data1 h3{
  
  margin-bottom: 2vw;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.data1 ol{
  list-style: none;
  
  font-family: 'Roboto', sans-serif;
}
.data1 li{
  padding-bottom: 2vw;
  font-size: 14px;
}
.data2{
  margin-left: 60vw;
  margin-top: -13vw;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.data2 h3{
  margin-bottom: 2vw;
  
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.data2 ol{
  list-style: none;
 
  font-family: 'Roboto', sans-serif;
}
.data2 li{
  padding-bottom: 2vw;
  font-size: 14px;
}
.data3{
  margin-left: 80vw;
margin-top: -16vw;

color: white;
font-family: 'Roboto', sans-serif;
}
.data3 h3{

  font-size: 16px;
  margin-bottom: 2vw;
}
.data3 ol{
  list-style: none;
 
  font-family: 'Roboto', sans-serif;
}
.data3 li{
  padding-bottom: 2vw;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.horizontal-line {
  width: 80vw;
  display: block;
  height: 1px;
  background-color: white;
  margin: 60px auto 0;
}
.horizontal-line1 {
  width: 80vw;
  display: block;
  height: 1px;
  background-color: white;
  margin: 40px auto 0;
}
.payment-info h5{
  margin-top: 2vw;
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
.payment-info .payment{
  margin-top: 1vw;
  margin-left: 41vw;
}
.payment-info .payment img{
  margin-left: 1vw;
}
.terms h5{
  font-size: 18px;
  color: white;
  text-align: center;
  margin-top: 1vw;
  font-family: 'Roboto', sans-serif;
 
}
.cc p{
  background-color: white;
  color: #282829;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 1vw;
  margin-bottom: 1vw;
  line-height: 2vw;
  
}
  /*end of footer*/
  @media only screen and (max-width: 600px) {
    #footer{
      margin-top: -30vw;
    }
    .logo-image img{
      width: 70vw;
      margin-left: 13vw;
    }
    .media .fb{
      margin-left: 10vw;
    }
    .media i{
      font-size: 30px;
    
      margin-left: 5vw;
    }
    .data1{
      font-size: 22px;
      margin-top: 10vw;
      margin-left: -30vw;
    }
    .data2{
      font-size: 22px;
      margin-top: -35vw;
      margin-left: 5vw;
    }
    .member .m1{
      margin-top: 10vw;
      margin-left: 20vw;
    }
    .member .m1 p{
font-size:15px ;
margin-left: -10vw;
    }
    .member .m1 img{
      width: 15vw;
      margin-left: -1vw;
    }
    .member .m2{
      margin-top: -22vw;
      margin-left: 75vw;
    }
    .member .m2 p{
font-size:15px ;
margin-left: -15vw;
    }
    .member .m2 img{
      width: 15vw;
      margin-left: -5vw;
    }
    .address{
      margin-top: 5vw;
      font-size: 18px;
    }
    .terms{
      margin-top: 5vw;
      font-size: 18px;
    }
    .cc{
      margin-top: 5vw;
      font-size: 18px;
    }
    .cc p{
      margin-bottom: 10vw;
    }
  
    
  }
